<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登录 - 博客管理系统</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/style.css">
<script src="/static/admin/js/jquery-2.1.4.min.js"></script>
<script src="/static/admin/js/admin-scripts.js"></script>
</head>
<body>
<div class="container">
  <form method="post" autocomplete="off" class="form-signin">
    <h2 class="form-signin-heading">管理员登录</h2>
    <label for="userName" class="sr-only">用户名</label>
    <input type="text" id="userName" name="username" class="form-control" placeholder="请输入用户名"  autofocus autocomplete="off" maxlength="10">

    <label for="userPwd" class="sr-only">密码</label>
    <input type="password" id="userPwd" name="userpwd" class="form-control" placeholder="请输入密码" required autocomplete="off" maxlength="18">
    <span id="error"></span>
    <input id="sub" class="btn btn-lg btn-primary btn-block" type="button" value="登录">
  </form>
  <div class="footer">
    <p><a href="/art" data-toggle="tooltip" data-placement="left" title="不知道自己在哪?">回到博客 →</a></p>
  </div>
</div>
</body>
</html>
